body {
    font-family: Roboto;
    font-size: 16.8117px;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: 1px solid #DDDDDD;
}
.header {
    max-width: 1430px;
    padding-top: 69px;
    margin: 41px auto;
}

.navigation {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-logo {}

.navigation-logo img {
    width: 156px;
}

.navigation-desk {
    display: flex;
    justify-content: space-between;
}

.navigation-desk--text {
    font-size: 14px;
    color: #2C343B;
    text-transform: uppercase;
    margin-right: 33px;
    cursor: pointer;
}
.navigation-desk--text:hover {
    color: #C31230;
}

.navigation-icons {
    display: flex;
}

.navigation-icon {
    margin-right: 16px;
    border: 2px solid #C31230;
    border-radius: 25px;
    cursor: pointer;
}

.icon {
    margin: 16px;
}

.navigation-lang {
    padding: 15px 11px;
    text-transform: uppercase;
    color: white;
    background-color: #C31230;
    cursor: pointer;
}

.navigation-contacts {
    display: flex;
    font-size: 15px;
}

.num {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 14px;
    border-right: 1px solid #2C343B;
    
}

.navigation-contacts--num {
    color: #C31230;
}

.navigation-mails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 14px;
}

.navigation-mails--sche {}

.navigation-mail {
    cursor: pointer;
}